<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/cart.css">

<title>Carrito de compras</title>
</head>

<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- MAIN -->
  <main>

    <p class="titulo">Tu carrito!</p>

    <!-- CONTENEDOR DE PRODUCTOS -->
    <div class="contenedor-productos">

      <% if (carrito) { %>
      <% for( dato of carrito.productosTalles ) { %>
      <div class="producto">
        <img class="producto-imagen"
          src=<%= "/images/products/" + (dato.producto.imagenes[0].nombre || "default.png") %> alt="">
        <div class="producto-datos">
          <p class="nombre"><%= dato.producto.nombre %></p>
          <p class="precio">$<%= dato.producto.precio %></p>
          <p class="talle">Talle <%= dato.talle.numero %></p>
          <p class="cantidad">Cantidad: <%= dato.CarritoProductoTalle.cantidad_producto %></p>
        </div>

      </div>
      <% } %>
      <% } %>


    </div>

    <a class="boton-volver" href="/">Volver a la Página principal</a>


  </main>

  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>