<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/create.css">
<link rel="stylesheet" href="/css/general.css">
<title>Cargar nuevo producto</title>

</head>

<body>

  <script src="/js/product_create-edit.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">Nuevo producto</h4>
      <form action="/products/create" method="POST" enctype="multipart/form-data" class="createProductForm">

        <!-- NOMBRE PRODUCTO -->
        <div class="box nombre">
          <label class="lbl" for="nombre">Nombre*</label>
          <input class="inp" type="text" name="nombre" id="nombre"
            value="<%= locals.product && product.nombre ? product.nombre : "" %>">
          <% if (locals.errors) { %>
          <% const nombreError = errors.find(error => error.path == 'nombre'); %>
          <% if (nombreError) { %>
          <p class="error"><%= nombreError.msg %></p>
          <% } %>
          <% } %>
        </div>



        <!-- DESCRIPCION PRODUCTO -->
        <div class="box descripcion">
          <label class="lbl" for="descripcion">Descripción</label>
          <input class="inp" type="text" name="descripcion" id="descripcion"
            value="<%= locals.product && product.descripcion ? product.descripcion : "" %>">
          <% if (locals.errors) { %>
          <% const descError = errors.find(error => error.path == 'descripcion'); %>
          <% if (descError) { %>
          <p class="error"><%= descError.msg %></p>
          <% } %>
          <% } %>
        </div>


        <!-- PRECIO PRODUCTO -->
        <div class="box precio">
          <label class="lbl" for="precio">Precio*</label>
          <input class="inp" type="number" name="precio" id="precio"
            value="<%= locals.product && product.precio ? product.precio : "" %>">
          <% if (locals.errors) { %>
          <% const precioError = errors.find(error => error.path == 'precio'); %>
          <% if (precioError) { %>
          <p class="error"><%= precioError.msg %></p>
          <% } %>
          <% } %>
        </div>


        <!-- DESCUENTO PRODUCTO -->
        <div class="box descuento">
          <label class="lbl" for="descuento">Descuento (%)</label>
          <input class="inp" type="number" name="descuento" id="descuento"
            value="<%= locals.product && product.descuento ? product.descuento : "" %>">
          <% if (locals.errors) { %>
          <% const descError = errors.find(error => error.path == 'descuento'); %>
          <% if (descError) { %>
          <p class="error"><%= descError.msg %></p>
          <% } %>
          <% } %>
        </div>


        <!-- MARCA PRODUCTO -->
        <div class="box marca">
          <label class="lbl">Marca*</label>
          <select name="id_marca" id="marca" class="select">
            <option selected disabled>- Seleccione la marca -</option>
            <% if (locals.mar) { %>
            <% mar.forEach(marca => { %>
            <option value=<%= marca.id %> <%= locals.product && product.id_marca == marca.id ? "selected" : ""  %>>
              <%= marca.nombre %> </option>
            <% }); %>
            <% } %>
          </select>
          <i class="select-arrow"></i>
        </div>
        <div class="errorMsg marca"></div>
        <% if (locals.errors) { %>
        <% const marcaError = errors.find(error => error.path == 'id_marca'); %>
        <% if (marcaError) { %>
        <p style="color: red;"><%= marcaError.msg %></p>
        <% } %>
        <% } %>


        <!-- COLOR PRODUCTO -->
        <div class="box color">
          <label class="lbl">Color*</label>
          <select name="id_color" id="color" class="select">
            <option selected disabled>- Seleccione el color -</option>
            <% if (locals.col) { %>
            <% col.forEach(color => { %>
            <option value=<%= color.id %> <%= locals.product && product.id_color == color.id ? "selected" : ""  %>>
              <%= color.nombre %> </option>
            <% }); %>
            <% } %>
          </select>
          <i class="select-arrow"></i>
        </div>
        <div class="errorMsg color"></div>
        <% if (locals.errors) { %>
        <% const colorError = errors.find(error => error.path == 'id_color'); %>
        <% if (colorError) { %>
        <p style="color: red;"><%= colorError.msg %></p>
        <% } %>
        <% } %>


        <!-- TALLE PRODUCTO -->
        <div class="box talle">
          <label class="lbl">Talle*</label>
          <select name="id_talle" id="talle" class="select">
            <option selected disabled>- Seleccione el talle -</option>
            <% if (locals.tal) { %>
            <% tal.forEach(talle => { %>
            <option value=<%= talle.id %> <%= locals.product && product.id_talle == talle.id ? "selected" : ""  %>>
              <%= talle.numero %> </option>
            <% }); %>
            <% } %>
          </select>
          <i class="select-arrow"></i>
        </div>
        <div class="errorMsg talle"></div>
        <% if (locals.errors) { %>
        <% const talleError = errors.find(error => error.path == 'id_talle'); %>
        <% if (talleError) { %>
        <p style="color: red;"><%= talleError.msg %></p>
        <% } %>
        <% } %>


        <!-- STOCK PRODUCTO (CON ESE TALLE) -->
        <div class="box stock">
          <label class="lbl" for="stock">Stock*</label>
          <input class="inp" type="number" name="stock" id="stock"
            value="<%= locals.product && product.stock ? product.stock : "" %>">
          <% if (locals.errors) { %>
          <% const stockError = errors.find(error => error.path == 'stock'); %>
          <% if (stockError) { %>
          <p class="error"><%= stockError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- CATEGORIA PRODUCTO -->
        <div class="box">
          <label class="lbl">Categorias (seleccione)</label>
          <% if (locals.cat) { %>
          <% cat.forEach(categoria => { %>
          <input class="check" type="checkbox" name="categorias[]" id=<%=categoria.nombre %> value="<%= categoria.id %>"
            <%= locals.product && product.categorias && product.categorias.find(cate => cate == categoria.id) ? "checked" : "" %>>
          <label for=<%=categoria.nombre %> class="check-lbl">
            <%= categoria.nombre %>
          </label>
          <% }); %>
          <% } %>
        </div>

        <!-- CARGAR IMAGENES PRODUCTO -->
        <div class="box image">
          <label class="lbl">Fotos del producto (Vista previa)</label>
          <img src="/images/products/default.png" alt="foto perfil usuario" class="file-image">
          <input type="file" id="img" name="imagen" multiple accept=".jpeg, .png, .jpg">

          <div id="num-files" class="file-info">
            <label for="img" class="btn btn-upload">
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
              Subir imagenes
            </label>
            <p class="file-info-p">Ningun archivo seleccionado.</p>
          </div>
          <p class="file-info-p">Archivos permitidos: .jpeg, .png, .jpg, Tamaño máximo 10Mb.</p>
          <% if (locals.errors) { %>
          <% const reImageError = errors.find(error => error.path == 'image'); %>
          <% if (reImageError) { %>
          <p class="error"><%= reImageError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- Boton carga -->
        <button type="submit" class="btn btn-primary">¡Cargar producto!</button>

        <!-- Boton de cancelar -->
        <a href="/products" class="link color-primary">Cancelar</a>

      </form>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>

</html>