<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/create.css">
<title>Cargar</title>

</head>

<body>

  <script src="/js/product_create-edit.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">Nuevo producto</h4>
      <form action="/products/create" method="POST" enctype="multipart/form-data" class="createProductForm">

        <!-- NOMBRE PRODUCTO -->
        <div class="box nombre">
          <input type="text" name="nombre" id="nombre"
            value="<%= locals.product && product.nombre ? product.nombre : "" %>">
          <label for="nombre">Nombre</label>
        </div>
        <div class="errorMsg nombre"></div>
        <% if (locals.errors) { %>
        <% const nombreError = errors.find(error => error.path == 'nombre'); %>
        <% if (nombreError) { %>
        <h6 style="color: red;"><%= nombreError.msg %></h6>
        <% } %>
        <% } %>


        <!-- DESCRIPCION PRODUCTO -->
        <div class="box descripcion">
          <input type="text" name="descripcion" id="descripcion"
            value="<%= locals.product && product.descripcion ? product.descripcion : "" %>">
          <label for="descripcion">Descripción</label>
        </div>
        <div class="errorMsg descripcion"></div>
        <% if (locals.errors) { %>
        <% const descError = errors.find(error => error.path == 'descripcion'); %>
        <% if (descError) { %>
        <h6 style="color: red;"><%= descError.msg %></h6>
        <% } %>
        <% } %>


        <!-- PRECIO PRODUCTO -->
        <div class="box precio">
          <input type="number" name="precio" id="precio"
            value="<%= locals.product && product.precio ? product.precio : "" %>">
          <label for="precio">Precio</label>
        </div>
        <div class="errorMsg precio"></div>
        <% if (locals.errors) { %>
        <% const precioError = errors.find(error => error.path == 'precio'); %>
        <% if (precioError) { %>
        <h6 style="color: red;"><%= precioError.msg %></h6>
        <% } %>
        <% } %>


        <!-- DESCUENTO PRODUCTO -->
        <div class="box descuento">
          <input type="number" name="descuento" id="descuento"
            value="<%= locals.product && product.descuento ? product.descuento : "" %>">
          <label for="descuento">Descuento (%)</label>
        </div>
        <div class="errorMsg descuento"></div>
        <% if (locals.errors) { %>
        <% const descError = errors.find(error => error.path == 'descuento'); %>
        <% if (descError) { %>
        <h6 style="color: red;"><%= descError.msg %></h6>
        <% } %>
        <% } %>


        <!-- MARCA PRODUCTO -->
        <div class="box marca">
          <select name="id_marca" id="marca">
            <option selected disabled>- Seleccione la marca -</option>
            <% if (locals.mar) { %>
            <% mar.forEach(marca => { %>
            <option value=<%= marca.id %> <%= locals.product && product.id_marca == marca.id ? "selected" : ""  %>>
              <%= marca.nombre %> </option>
            <% }); %>
            <% } %>
          </select>
        </div>
        <div class="errorMsg marca"></div>
        <% if (locals.errors) { %>
        <% const marcaError = errors.find(error => error.path == 'id_marca'); %>
        <% if (marcaError) { %>
        <h6 style="color: red;"><%= marcaError.msg %></h6>
        <% } %>
        <% } %>


        <!-- COLOR PRODUCTO -->
        <div class="box color">
          <select name="id_color" id="color">
            <option selected disabled>- Seleccione el color -</option>
            <% if (locals.col) { %>
            <% col.forEach(color => { %>
            <option value=<%= color.id %> <%= locals.product && product.id_color == color.id ? "selected" : ""  %>>
              <%= color.nombre %> </option>
            <% }); %>
            <% } %>
          </select>
        </div>
        <div class="errorMsg color"></div>
        <% if (locals.errors) { %>
        <% const colorError = errors.find(error => error.path == 'id_color'); %>
        <% if (colorError) { %>
        <h6 style="color: red;"><%= colorError.msg %></h6>
        <% } %>
        <% } %>


        <!-- TALLE PRODUCTO -->
        <div class="box talle">
          <select name="id_talle" id="talle">
            <option selected disabled>- Seleccione el talle -</option>
            <% if (locals.tal) { %>
            <% tal.forEach(talle => { %>
            <option value=<%= talle.id %> <%= locals.product && product.id_talle == talle.id ? "selected" : ""  %>>
              <%= talle.numero %> </option>
            <% }); %>
            <% } %>
          </select>
        </div>
        <div class="errorMsg talle"></div>
        <% if (locals.errors) { %>
        <% const talleError = errors.find(error => error.path == 'id_talle'); %>
        <% if (talleError) { %>
        <h6 style="color: red;"><%= talleError.msg %></h6>
        <% } %>
        <% } %>


        <!-- STOCK PRODUCTO (CON ESE TALLE) -->
        <div class="box stock">
          <input type="number" name="stock" id="stock"
            value="<%= locals.product && product.stock ? product.stock : "" %>">
          <label for="stock">Stock</label>
        </div>
        <div class="errorMsg stock"></div>
        <% if (locals.errors) { %>
        <% const stockError = errors.find(error => error.path == 'stock'); %>
        <% if (stockError) { %>
        <h6 style="color: red;"><%= stockError.msg %></h6>
        <% } %>
        <% } %>


        <!-- CATEGORIA PRODUCTO -->
        <div class="box-check">
          <label class="box-check-titulo">Selecciona las categorias</label>          
          <% if (locals.cat) { %>
          <% cat.forEach(categoria => { %>
          <input class="checkCateg" type="checkbox" name="categorias[]" id=<%=categoria.nombre %> value="<%= categoria.id %>"
            <%= locals.product && product.categorias && product.categorias.find(cate => cate == categoria.id) ? "checked" : "" %>>
          <label for=<%=categoria.nombre %> class="label-check">
            <%= categoria.nombre %>
          </label>
          <% }); %>
          <% } %>
        </div>


        <!-- CARGAR IMAGENES PRODUCTO -->
        <div class="box box-img">
          <label for="img" class="label-img">Cargar imagenes</label>
          <input class="input-image" type="file" id="img" name="imagenes" multiple accept=".jpg, .png, .jpeg">
        </div>
        <div class="errorMsg img"></div>



        <div class="botones">
          <!-- Boton carga -->
          <button type="submit" class="boton">Cargar</button>
          <a href="/products" class="boton-cancelar">Cancelar</a>
        </div>

      </form>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>

</html>