<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="/css/general.css">

<title><%= producto.nombre %></title>
</head>



<body>

  <script src="/js/products/detail.js" type="text/javascript"></script>
  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>


  <!-- PRINCIPAL -->
  <main>

    <div class="div-product">
      <% if (producto.imagenes.length > 1) { %>
      <div class="selector-main">
        <img class="selector-main-image" src=<%= '/images/products/' + producto.imagenes[0].nombre %> alt="">
      </div>

      <div class="selector-images">
        <% for( imagen of producto.imagenes) {%>
        <img class="selector-image <%= producto.imagenes[0] == imagen ? 'selector-active' : '' %>"
          src="<%='/images/products/' + imagen.nombre %>" alt="<%= imagen.nombre %>">
        <% } %>
      </div>
      <% } else { %>

      <div class="selector-main">
        <img class="selector-main-image" src='/images/products/default.png' alt="">
      </div>

      <% } %>

      <h1 class="product-name"><%= producto.nombre + " - " + producto.color.nombre %></h1>

      <% if (producto.descuento > 0) { %>
      <h4 class="product-old-price color-secondary-text">$<%= producto.precio %></h4>
      <div class="product-price">
        <h4 class="product-new-price color-dark">
          $<%= Math.floor(producto.precio - (producto.precio * (producto.descuento / 100))) %></h4>
        <h4 class="product-discount color-discount"><%= producto.descuento %>% OFF</h4>
      </div>
      <% } else { %>
      <div class="product-price">
        <h4 class="product-new-price color-dark">
          $<%= producto.precio %></h4>
      </div>
      <% } %>



      <% if (tal.length > 0) { %>

      <form action="/products/cart/<%= producto.id %>" method="POST" class="form-product detailForm">


        <div class="box talle">
          <label class="product-lbl">Talle</label>
          <select class="select" name="id_talle" required>
            <option selected disabled>- Seleccione un talle -</option>
            <% tal.forEach(talle => { %>
            <% if (talle.ProductoTalle.stock > 0) { %>
            <option value=<%= talle.id %>> <%= talle.numero %> -
              <%= talle.ProductoTalle.stock > 1 ? talle.ProductoTalle.stock +" disponibles" : "Último disponible" %>
            </option>
            <% } %>
            <% }) %>
          </select>
          <i class="select-arrow" id="arrow"></i>
          <% if (locals.errors) { %>
          <% const talleError = errors.find(error => error.path == 'id_talle'); %>
          <% if (talleError) { %>
          <p class="error"><%= talleError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <div class="box stock">
          <label for="cantidad_producto" class="product-lbl">Cantidad</label>
          <input class="inp" type="number" id="cantidad_producto" name="cantidad_producto">
          <% if (locals.errors) { %>
          <% const stockError = errors.find(error => error.path == 'cantidad_producto'); %>
          <% if (stockError) { %>
          <p class="error"><%= stockError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <button type="submit" class="btn btn-primary" id="btn">
          <i class="iconoBoton fa-solid fa-cart-plus"></i> Agregar al Carrito
        </button>
      </form>

      <% }else{ %>
      <p class="product-stock">
        Sin stock disponible.
      </p>
      <% } %>


      <% if (producto.descripcion) { %>
      <h5 class="product-title-description">Descripción</h5>
      <h5 class="product-description"><%= producto.descripcion %></h5>
      <% } else { %>
      <h5 class="product-description">Sin descripción...</h5>
      <% } %>




    </div>

  </main>


  <%- include ('../partials/footer')%>

</body>


</html>