<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/detail.css">

<title>Detalle del producto</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>


  <!-- PRINCIPAL -->
  <main>

    <% if (producto.Imagen[0] != "default.png") { %>
      <img class="background-image" src="/images/products/<%=producto.Imagen[0] %>">
    <% } %>
    <div class="contenedor-producto">


      <div class="imagenes-producto">
        <div class="cont-imagen-principal">
          <% for (let i = 0; i < producto.Imagen.length; i++) { %>
          <input type="radio" name="radio-img" id="inp-<%= i %>" <%= i == 0 ? "checked" : "" %>>
          <img class="img-principal-<%= i %>" src="/images/products/<%=producto.Imagen[i] %>">
          <% } %>
        </div>
        <div class="cont-imagen-secundaria">
          <% for (let i = 0; i < producto.Imagen.length; i++) { %>
          <label for="inp-<%= i %>"><img class="img-secundaria-<%= i %>" src="/images/products/<%=producto.Imagen[i] %>"></label>
          <% } %>
        </div>
      </div>



      <div class="contenedor-datos">
        <p class="nombre-producto"><%= producto.Nombre %></p>

        <% if (producto.Descuento != 0) { %>
          <div class="contenedor-precio-desc">
            <p class="precio-anterior">$<%= producto.Precio %></p>
            <p class="descuento-producto"><%= producto.Descuento %>% OFF</p>
          </div>
        <% } %>

        <p class="precio-producto">$<%= Math.floor(producto.Precio - (producto.Precio * (producto.Descuento / 100))) %>
        </p>

        <p class="descripcion-producto">
          <%= producto.Descripcion %>
        </p>


        <% if(producto.Stock > 0){ %>
        <p class="stock-producto">
          ¡Stock disponible! <%= producto.Stock  %> unidades
        </p>

        <div class="color-talle">
          <div class="color-producto">
            <p class="titulo-color">Color</p>
            <select class="select-colores" name="Color">
              <% for (let i = 0; i < producto.Color.length; i++) { %>
              <option value="<%= producto.Color[i] %>"><%= producto.Color[i] %></option>
              <% } %>
            </select>
          </div>

          <div class="talle-producto">
            <p class="titulo-talle">Talle</p>
            <select class="select-talles" name="Talle">
              <% for (let i = 0; i < producto.Talle.length; i++) { %>
              <option value="<%= producto.Talle[i] %>"><%= producto.Talle[i] %></option>
              <% } %>
            </select>
          </div>
        </div>

        <p class="descripcion-producto">
          Categorias: <%= producto.Categoria.join(", ") %>
        </p>


        <a href="/products/cart" class="boton-carrito">
          Agregar al Carrito<i class="iconoBoton fa-solid fa-cart-plus"></i>
        </a>

        <% } else { %>

        <p class="stock-producto">
          Sin stock disponible
        </p>
        <% } %>

        <% if (user && user.Categoria == "Administrador") { %>
        <a href="/products/<%= producto.Id %>/edit" class="boton-editar">
          Editar
        </a>

        <form action="/products/<%= producto.Id %>/?_method=DELETE" method="POST" class="form-eliminar">
          <button type="submit" class="boton-eliminar">Eliminar</button>
        </form>
      </div>
      
      <% } %>

    </div>

  </main>


  <%- include ('../partials/footer')%>

</body>


</html>