<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/detail.css">

<title>Detalle del producto</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>


  <!-- PRINCIPAL -->
  <main>

    <% if (producto.imagenes[0]) { %>
    <img class="background-image" src="/images/products/<%=producto.imagenes[0].nombre %>">
    <% } %>


    <div class="contenedor-producto">

      <% if (producto.imagenes[0]) { %>
      <div class="imagenes-producto">
        <div class="cont-imagen-principal">
          <% let bandera = 0 %>
          <% producto.imagenes.forEach(imagen => { %>
          <input type="radio" name="radio-img" id="inp-<%= imagen.nombre %>" <%= bandera == 0 ? "checked" : "" %>>
          <img class="img-principal-<%= imagen.nombre %>" src="/images/products/<%=imagen.nombre %>">
          <% bandera++}) %>
        </div>
        <div class="cont-imagen-secundaria">
          <% producto.imagenes.forEach(imagen => { %>
          <label for="inp-<%= imagen.nombre %>"><img class="img-secundaria-<%= imagen.nombre %>"
              src="/images/products/<%=imagen.nombre %>"></label>
          <% }) %>
        </div>
      </div>
      <% } %>




      <div class="contenedor-datos">
        <p class="nombre-producto"><%= producto.nombre %></p>

        <% if (producto.descuento != 0) { %>
        <div class="contenedor-precio-desc">
          <p class="precio-anterior">$<%= producto.precio %></p>
          <p class="descuento-producto"><%= producto.descuento %>% OFF</p>
        </div>
        <% } %>

        <p class="precio-producto">$<%= Math.floor(producto.precio - (producto.precio * (producto.descuento / 100))) %>
        </p>

        <p class="descripcion-producto">
          <%= producto.descripcion %>
        </p>


        <div class="color-producto">
          <p class="titulo-color">Color</p>
          <p class="select-colores" name="Color">
            <%= producto.color.nombre %>
          </p>
        </div>

        <% if (tal.length > 0) { %>

        <form action="/products/cart/<%= producto.id %>" method="POST">
          <select class="select-talles <%= locals.errors && errors.id_talle ? 'errorBox' : null %>" name="id_talle" required>
            <option value="" selected disabled>- Seleccione un talle -</option>
            <% tal.forEach(talle => { %>
            <% if (talle.ProductoTalle.stock > 0) { %>
            <option value=<%= talle.id %> <%= locals.old && old.id_talle === talle.id ? 'selected' : '' %> > <%= talle.numero %> -
              <%= talle.ProductoTalle.stock > 1 ? talle.ProductoTalle.stock +" disponibles" : "Último disponible" %>
            </option>
            <% } %>
            <% }) %>
          </select>
          <% if (locals.errors && errors.id_talle) { %>
            <div class="msgError">
              <%= errors.id_talle.msg %>
            </div>
          <% } %>
          <label for="cantidad_producto" class="<%= locals.errors && errors.cantidad_producto ? 'errorBox' : null %>">Ingrese la cantidad</label>
          <input type="number" id="cantidad_producto" name="cantidad_producto" value="<%= locals.old && old.cantidad_producto ? old.cantidad_producto : "" %>" required>
          <button type="submit" class="boton-carrito">
            Agregar al Carrito<i class="iconoBoton fa-solid fa-cart-plus"></i>
          </button>
        </form>

        <% }else{ %>
        <p class="stock-producto">
          Sin stock disponible
        </p>
        <% } %>




        <% if (locals.userLogged && locals.admin) { %>
        <a href="/products/edit/<%= producto.id %>" class="boton-editar">
          Editar
        </a>

        <form action="/products/<%= producto.id %>/?_method=DELETE" method="POST" class="form-eliminar">
          <button type="submit" class="boton-eliminar">Dar de baja</button>
        </form>

        <a href="/products/edit/<%= producto.id %>/relations" class="boton-editar">
          Editar relaciones
        </a>
        <% } %>
      </div>
    </div>

  </main>


  <%- include ('../partials/footer')%>

</body>


</html>