<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/edit.css">
<title>Cargar</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario edicion -->
    <div class="contenedor-form">
      <h4 class="titulo">Edicion de producto</h4>

      <form action="/products/<%= producto.Id %>?_method=PUT" method="POST" enctype="multipart/form-data">

        <!-- NOMBRE PRODUCTO -->
        <div class="box">
          <input type="text" name="Nombre" id="nombre" required value="<%= producto.Nombre %>">
          <label for="nombre">Nombre</label>
        </div>

        <!-- DESCRIPCION PRODUCTO -->
        <div class="box">
          <input type="text" name="Descripcion" id="descripcion" required value="<%= producto.Descripcion %>"></input>
          <label for="descripcion">Descripción</label>
        </div>

        <!-- PRECIO PRODUCTO -->
        <div class="box">
          <input type="number" name="Precio" id="precio" required value="<%= producto.Precio %>">
          <label for="precio">Precio</label>
        </div>

        <!-- DESCUENTO PRODUCTO -->
        <div class="box">
          <input type="number" name="Descuento" id="descuento" required value="<%= producto.Descuento %>">
          <label for="descuento">Descuento</label>
        </div>

        <!-- COLOR PRODUCTO -->
        <div class="box">
          <!--<input type="text" name="Color" id="color" required value="%= producto.Color.join(" ") %>">-->
          <input type="text" name="Color" id="color" >
          <label for="color">Colores (separados por un espacio)</label>
        </div>

        <!-- TALLE PRODUCTO -->
        <div class="box">
          <!--<input type="text" name="Talle" id="talle" required value="%= producto.Talle.join(" ") %>">-->
          <input type="text" name="Talle" id="talle">
          <label for="talle">Talles (separados por un espacio)</label>
        </div>
        


        <!-- STOCK PRODUCTO -->
        <div class="box">
          <input type="number" name="Stock" id="stock" required value="<%= producto.Stock %>">
          <label for="stock">Stock</label>
        </div>

        <!-- CATEGORIA PRODUCTO -->
        <div class="box-check">
          <label class="box-check-titulo">Categoria</label>
          <input type="checkbox" name="Categoria" id="Deportivo" value="Deportivo"
            <% if (producto.Categoria.includes("Deportivo")) { %> checked <% } %>>
          <label for="Deportivo" class="label-check">
            Deportivo
          </label>
          <input type="checkbox" name="Categoria" id="Casual" value="Casual"
            <% if (producto.Categoria.includes("Casual")) { %> checked <% } %>>
          <label for="Casual" class="label-check">
            Casual
          </label>
          <input type="checkbox" name="Categoria" id="Urbano" value="Urbano"
            <% if (producto.Categoria.includes("Urbano")) { %> checked <% } %>>
          <label for="Urbano" class="label-check">
            Urbano
          </label>
          <input type="checkbox" name="Categoria" id="Formal" value="Formal"
            <% if (producto.Categoria.includes("Formal")) { %> checked <% } %>>
          <label for="Formal" class="label-check">
            Formal
          </label>
          <input type="checkbox" name="Categoria" id="Niños" value="Niños"
            <% if (producto.Categoria.includes("Niños")) { %> checked <% } %>>
          <label for="Niños" class="label-check">
            Niños
          </label>
        </div>

        <!-- STOCK PRODUCTO -->
        <div class="box-img-ant">
          <label class="box-check-titulo">Imagenes anteriores</label>
          <% producto.Imagen.forEach(imagen => { %>
            <img src="/images/<%= imagen %>" alt="img-anterior">
          <% }); %>
        </div>

        <!-- CARGAR IMAGENES PRODUCTO -->
        <div class="box-img">
          <label for="img" class="label-img">Cargar imagenes nuevas</label>
          <input class="input-image" type="file" id="img" name="Imagen" multiple accept=".jpg, .png">
          <p>¡Atención! Esto sobreescrirá a las imagenes anteriores.</p>
        </div>
        

      </form>
      
      <div class="botones">
        <!-- Boton carga -->
        <button type="submit" class="boton">Guardar</button>

        <!-- Boton de reset -->
        <button type="reset" class="boton">Limpiar</button>

        
        <form action="/products/<%= producto.Id %>/?_method=DELETE" method="POST" class="boton">
          <button type="submit" class="boton-form">Eliminar</button>
        </form>
        
      
      </div>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>