<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/general.css">

<title>Productos</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>




  <!-- PRINCIPAL -->
  <main>




    <div class="div-slider">
      <div class="slider">
        <div class="img-slider slide1"><img src="/images/slider/slider1.jpg" alt="Slide 1"></div>
        <div class="img-slider slide2"><img src="/images/slider/slider2.webp" alt="Slide 2"></div>
        <div class="img-slider slide3"><img src="/images/slider/slider3.webp" alt="Slide 3"></div>
      </div>
    </div>

    <section class="section">

      <h3 class="titulo">TODOS LOS PRODUCTOS</h3>

      <% if (locals.userLogged && locals.admin) { %>
      <div class="div-link">
        <a class="card-btn card-btn-add" href="/products/create">
          <i class="fa-solid fa-plus"></i> Agregar producto
        </a>
      </div>
      <% } %>

      <% for (producto of productos) {%>
      <div class="product-card">

        <p class="product-card-free">ENVIO GRATIS</p>

        <a href="/products/detail/<%= producto.id %>" style="text-decoration: none;">
          <div class="product-card-div-img">
            <img
              src="/images/products/<%= (producto.imagenes[0] && producto.imagenes[0].nombre) ? producto.imagenes[0].nombre : 'default.png' %>"
              alt="Ejemplo2">
          </div>

          <div class="product-card-description">
            <p class="card-name"><%= producto.nombre %> - <%= producto.color.nombre %></p>
            <% if (producto.descuento != 0) { %>
            <p class="card-old-price">$<%= producto.precio %></p>
            <p class="card-new-price">
              $<%= (producto.precio - (producto.precio * (producto.descuento / 100))).toFixed(0) %>
              <span class="card-discount"><%= producto.descuento %>% OFF</span>
            </p>
            <% } else { %>
            <p class="card-new-price">$<%= producto.precio%>
              <% } %>
          </div>
        </a>

        <% if (locals.userLogged && locals.admin) { %>
        <div class="card-buttons">
          <a href="/products/edit/<%= producto.id %>/relations" class="card-btn card-btn-edit">
            <i class="fa-sharp fa-solid fa-pen"></i> Editar
          </a>

          <form action="/products/<%= producto.id %>/?_method=DELETE" method="POST">
            <button type="submit" class="card-btn card-btn-delete">
              <i class="fa-solid fa-trash"></i>
              Eliminar
            </button>
          </form>
        </div>
        <% } %>

      </div>

      <% } %>
    </section>

  </main>

  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>