<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/productEdit.css">
<title>Editar producto</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario edicion -->
    <div class="contenedor-form">
      <h4 class="titulo">Edicion de producto</h4>

      <form action="/products/<%= producto.id  %>?_method=PUT" method="POST">

        <!-- NOMBRE PRODUCTO -->
        <div class="box <%= locals.errors && errors.nombre ? 'errorBox' : null %>">
          <input type="text" name="nombre" id="nombre" required value="<%= locals.old && old.nombre ? old.nombre : producto.nombre %>">
          <label for="nombre">Nombre</label>
          <% if (locals.errors && errors.nombre) { %>
            <div class="msgError">
              <%= errors.nombre.msg %>
            </div>
          <% } %>
        </div>

        <!-- DESCRIPCION PRODUCTO -->
        <div class="box <%= locals.errors && errors.descripcion ? 'errorBox' : null %>">
          <input type="text" name="descripcion" id="descripcion" required value="<%= locals.old && old.descripcion ? old.descripcion : producto.descripcion %>"></input>
          <label for="descripcion">Descripción</label>
          <% if (locals.errors && errors.descripcion) { %>
            <div class="msgError">
              <%= errors.descripcion.msg %>
            </div>
          <% } %>
        </div>

        <!-- PRECIO PRODUCTO -->
        <div class="box <%= locals.errors && errors.precio ? 'errorBox' : null %>">
          <input type="number" name="precio" id="precio" required value="<%= locals.old && old.precio ? old.precio : producto.precio %>">
          <label for="precio">Precio</label>
          <% if (locals.errors && errors.precio) { %>
            <div class="msgError">
              <%= errors.precio.msg %>
            </div>
          <% } %>
        </div>

        <!-- DESCUENTO PRODUCTO -->
        <div class="box <%= locals.errors && errors.descuento ? 'errorBox' : null %>">
          <input type="number" name="descuento" id="descuento" required value="<%= locals.old && old.descuento ? old.descuento : producto.descuento %>">
          <label for="descuento">Descuento</label>
          <% if (locals.errors && errors.descuento) { %>
            <div class="msgError">
              <%= errors.descuento.msg %>
            </div>
          <% } %>
        </div>

        <!-- MARCA PRODUCTO -->
        <div class="box <%= locals.errors && errors.id_marca ? 'errorBox' : null %>">
          <select name="id_marca" id="marca" required>
            <% if (locals.mar) { %>
            <% mar.forEach(marca => { %>
            <option value=<%= marca.id %> <%= producto.id_marca == marca.id ? 'selected' : '' %>> <%= marca.nombre %>
            </option>
            <% }); %>
            <% } %>
          </select>
        </div>

        <!-- COLOR PRODUCTO -->
        <div class="box <%= locals.errors && errors.id_color ? 'errorBox' : null %>">
          <select name="id_color" id="color" required>
            <% if (locals.col) { %>
            <% col.forEach(color => { %>
            <option value=<%= color.id %> <%= producto.id_color == color.id ? 'selected' : '' %>> <%= color.nombre %>
            </option>
            <% }); %>
            <% } %>
          </select>
        </div>

        <!-- CATEGORIAS VIEJAS PRODUCTO -->
        <div class="box-check" style="display: none;">
          <% if (locals.cat) { %>
          <% cat.forEach(categoria => { %>
          <input type="checkbox" name="categoriasViejas" value=<%= categoria.id %>
            <%= producto.categorias && producto.categorias.some(cat => cat.id == categoria.id) ? 'checked' : '' %>>
          <% }); %>
          <% } %>
        </div>

        <!-- CATEGORIA PRODUCTO -->
        <div class="box-check">
          <label class="box-check-titulo">Categorias</label>
          <% if (locals.cat) { %>
          <% cat.forEach(categoria => { %>
          <input type="checkbox" name="categorias" id=<%=categoria.nombre %> value=<%= categoria.id %>
            <%= producto.categorias && producto.categorias.some(cat => cat.id == categoria.id) ? 'checked' : '' %>>
          <label for=<%=categoria.nombre %> class="label-check">
            <%= categoria.nombre %>
          </label>
          <% }); %>
          <% } %>
        </div>

        <div class="botones">
          <!-- Boton carga -->
          <button type="submit" class="boton">Guardar</button>
          <a href="/products/detail/<%= producto.id %>" class="boton-cancelar">Cancelar</a>
        </div>

      </form>

    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>