<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/index.css">

<title>Productos</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>




  <!-- PRINCIPAL -->
  <main>




    <div class="div-slider">
      <div class="slider">
        <div class="img-slider slide1"><img src="/images/slider/slider1.jpg" alt="Slide 1"></div>
        <div class="img-slider slide2"><img src="/images/slider/slider2.webp" alt="Slide 2"></div>
        <div class="img-slider slide3"><img src="/images/slider/slider3.webp" alt="Slide 3"></div>
      </div>
    </div>





    <!-- Ofertas -->
    <section class="main-section">

      <h3 class="titulo">TODOS LOS PRODUCTOS</h3>

      <% for (let i= 0; i< productos.length; i++) {%>
      <a class="oferta" href="/products/detail/<%= productos[i].id %>">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <div class="contenedor-img">
          <img src="/images/products/<%= (productos[i].imagenes[0] && productos[i].imagenes[0].nombre) ? productos[i].imagenes[0].nombre : 'default.png' %>" alt="Ejemplo2">
        </div>
        <div class="contenedor-precio-descripcion">
          <% if (productos[i].descuento != 0) { %>
          <p class="precio-anterior">$<%= productos[i].precio %></p>
          <p class="precio">
            $<%= (productos[i].precio - (productos[i].precio * (productos[i].descuento / 100))).toFixed(0) %>
            <span class="descuento"><%= productos[i].descuento %>% descuento</span>
          </p>
          <% } else { %>
          <p class="precio">$<%= productos[i].precio%>
            <% } %>
            <p class="descripcion"><%= productos[i].nombre %></p>
        </div>
      </a>
      <%} %>
    </section>

  </main>





  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>