<%- include ('../../partials/head')%>

<link rel="stylesheet" href="/css/createRelations.css">
<link rel="stylesheet" href="/css/general.css">

<title>Cargar talle</title>
</head>

<body id="body">

    <script src="/js/products/relations/sizes.js" type="text/javascript"></script>
    <!-- ENCABEZADO -->

    <%- include ('../../partials/header')%>

    <!-- PRINCIPAL -->
    <main>

        <section class="contenedor-form">
            <form class="createSizeForm" action="/products/edit/<%= producto.id %>/relations/sizes" method="POST">
                <h3 class="titulo">
                    Cargar talle al producto
                </h3>

                <!-- NOMBRE PRODUCTO -->
                <div class="box nombre">
                    <label for="nombre" class="lbl">Nombre del producto</label>
                    <input class="inp" type="text" name="nombre" id="nombre" value=<%= producto.nombre %> readonly>
                </div>


                <!-- TALLE A CARGAR AL PRODUCTO -->
                <div class="box talle">
                    <label class="lbl" for="stock">Talle</label>
                    <select name="id_talle" id="talle" class="select">
                        <option selected disabled>- Seleccione el talle -</option>
                        <% if (locals.tal) { %>
                        <% tal.forEach(talle => { %>
                        <option value=<%= talle.id %>
                            <%= locals.producto && producto.id_talle == talle.id ? "selected" : "" %>>
                            <%= talle.numero %> </option>
                        <% }); %>
                        <% } %>
                    </select>
                    <i class="select-arrow"></i>
                    <% if (locals.errors) { %>
                    <% const talleError = errors.find(error => error.path == 'id_talle'); %>
                    <% if (talleError) { %>
                    <p class="error"><%= talleError.msg %></p>
                    <% } %>
                    <% } %>
                </div>


                <!-- STOCK PRODUCTO (CON ESE TALLE) -->
                <div class="box stock">
                    <label class="lbl" for="stock">Stock</label>
                    <input class="inp" type="number" name="stock" id="stock"
                        value="<%= locals.producto && producto.stock ? producto.stock : "" %>">
                    <% if (locals.errors) { %>
                    <% const stockError = errors.find(error => error.path == 'stock'); %>
                    <% if (stockError) { %>
                    <p class="error"><%= stockError.msg %></p>
                    <% } %>
                    <% } %>
                </div>

                <!-- Boton carga -->
                <button type="submit" class="btn btn-primary">Cargar</button>

                <!-- Boton de cancelar -->
                <a href="/products/edit/<%= producto.id %>/relations" class="link color-primary">Cancelar</a>


            </form>
        </section>



    </main>





    <!-- PIE DE PAGINA -->

    <%- include ('../../partials/footer')%>

</body>

</html>