<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/general.css">

<title>Inicio</title>
</head>

<body id="body">

  <script src="/js/products/index.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>
    <div class="div-slider">
      <div class="slider">
        <div class="img-slider slide1"><img src="/images/slider/slider1.jpg" alt="Slide 1"></div>
        <div class="img-slider slide2"><img src="/images/slider/slider2.webp" alt="Slide 2"></div>
        <div class="img-slider slide3"><img src="/images/slider/slider3.webp" alt="Slide 3"></div>
      </div>
    </div>


    <section class="section">
      <h3 class="titulo">PRODUCTOS RECIENTES</h3>

      <% if (ultimosProductos.length == 0) { %>
      <p class="titulo">¡UPS! ¿Aún no hay nada? No te desanimes, pronto tendremos novedades ;)</p>
      <% } %>

      <% for (producto of ultimosProductos) {%>
      <div class="product-card">

        <p class="product-card-free">ENVIO GRATIS</p>

        <a href="/products/detail/<%= producto.id %>" style="text-decoration: none;">
          <div class="product-card-div-img">
            <img
              src="/images/products/<%= (producto.imagenes[0] && producto.imagenes[0].nombre) ? producto.imagenes[0].nombre : 'default.png' %>"
              alt="Ejemplo2">
          </div>

          <div class="product-card-description">
            <p class="card-name"><%= producto.nombre %> - <%= producto.color.nombre %></p>
            <% if (producto.descuento != 0) { %>
            <p class="card-old-price">$<%= producto.precio %></p>
            <p class="card-new-price">
              $<%= (producto.precio - (producto.precio * (producto.descuento / 100))).toFixed(0) %>
              <span class="card-discount"><%= producto.descuento %>% OFF</span>
            </p>
            <% } else { %>
            <p class="card-new-price">$<%= producto.precio%>
              <% } %>
          </div>
        </a>

      </div>
      <% } %>

      <div class="div-link">
        <a class="card-btn card-btn-add" href="/products">
          Todos los productos
        </a>
      </div>

    </section>


    <section class="section">
      <h3 class="titulo">MEJORES OFERTAS</h3>

      <% if (mejoresOfertas.length == 0) { %>
      <p class="titulo">¡UPS! ¿Aún no hay nada? No te desanimes, pronto tendremos novedades ;)</p>
      <% } %>

      <% for (producto of mejoresOfertas) {%>
      <div class="product-card">

        <p class="product-card-free">ENVIO GRATIS</p>

        <a href="/products/detail/<%= producto.id %>" style="text-decoration: none;">
          <div class="product-card-div-img">
            <img
              src="/images/products/<%= (producto.imagenes[0] && producto.imagenes[0].nombre) ? producto.imagenes[0].nombre : 'default.png' %>"
              alt="Ejemplo2">
          </div>

          <div class="product-card-description">
            <p class="card-name"><%= producto.nombre %> - <%= producto.color.nombre %></p>
            <% if (producto.descuento != 0) { %>
            <p class="card-old-price">$<%= producto.precio %></p>
            <p class="card-new-price">
              $<%= (producto.precio - (producto.precio * (producto.descuento / 100))).toFixed(0) %>
              <span class="card-discount"><%= producto.descuento %>% OFF</span>
            </p>
            <% } else { %>
            <p class="card-new-price">$<%= producto.precio%>
              <% } %>
          </div>
        </a>

      </div>
      <% } %>


    </section>

    <section class="section">
      <h3 class="titulo">NUESTRAS CATEGORIAS</h3>

      <% if (categorias.length == 0) { %>
      <p class="titulo">¡UPS! ¿Aún no hay nada? No te desanimes, pronto tendremos novedades ;)</p>
      <% } %>

      <% for (cat of categorias) {%>
      <a href="/products?categorias%5B%5D=<%= cat.id %>" style="text-decoration: none;" class="category-card">
        <p class="category-title"><%= cat.nombre %></p>
      </a>
      <% } %>

    </section>

  </main>

  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>