<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/userEdit.css">
<link rel="stylesheet" href="/css/general.css">
<title>Editar</title>

</head>

<body>

  <script src="/js/users/changePass.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario edicion -->
    <div class="contenedor-form">
      <h4 class="titulo">Edición del perfil</h4>

      <form action="/users/changePass?_method=PUT" method="POST" class="changePassForm">

        <!-- CONTRASEÑA ACTUAL -->
        <div class="box contrasenaActual">
          <input type="number" name="id" value="<%= locals.idUsuario %>" style="display: none;">
          <label for="ContrasenaActual" class="lbl">Contraseña actual</label>
          <input class="inp" type="password" name="contrasenaActual" id="ContrasenaActual">
          <% if (locals.errors) { %>
          <% const contrasenaActualError = errors.find(error => error.path == 'contrasenaActual'); %>
          <% if (contrasenaActualError) { %>
          <p class="error"><%= contrasenaActualError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- NUEVA CONTRASEÑA -->
        <div class="box contrasena">
          <label class="lbl" for="Contrasena">Nueva contraseña</label>
          <input class="inp" type="password" name="contrasena" id="Contrasena">
          <% if (locals.errors) { %>
          <% const contrasenaError = errors.find(error => error.path == 'contrasena'); %>
          <% if (contrasenaError) { %>
          <p class="error"><%= contrasenaError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- REPETIR NUEVA CONTRASEÑA -->
        <div class="box reContrasena">
          <label class="lbl" for="ReContrasena">Repetir contraseña</label>
          <input class="inp" type="password" name="reContrasena" id="ReContrasena">
        </div>


        <!-- Boton carga -->
        <button type="submit" class="btn btn-primary">Actualizar</button>

        <a href="/users/profile" class="link color-primary">Cancelar</a>

      </form>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>