<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/info-usuarios.css">

<title>Detalle</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    <div class="contenedor-general">

      <div class="contenedor-datos">
        <img src="/images/products/<%= usuario.FotoPerfil %>" alt="foto_perfil">
        <p class="nombre">Nombre: <%= usuario.Nombre %></p>
        <p class="nombre">Telefono: <%= usuario.Telefono %></p>
        <p class="nombre">Email: <%= usuario.Email %></p>
        <p class="nombre">Contraseña: <%= usuario.Contraseña %></p>
        <p class="nombre">Categoria: <%= usuario.Categoria %></p>

        <a href="/users/<%= usuario.Id %>/edit" class="boton-editar">
          Editar
        </a>

        <form action="/users/<%= usuario.Id %>/?_method=DELETE" method="POST" class="form-eliminar">
          <button type="submit" class="boton-eliminar">Eliminar</button>
        </form>

      </div>

    </div>

  </main>
<!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>


</html>