<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/general.css">

<title>Iniciá sesión</title>
</head>

<body>

  <script src="/js/users/login.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">Iniciá sesión</h4>
      <form action="/users/signIn" method="POST" class="loginForm">

        <!-- EMAIL USUARIO -->
        <div class="box email">
          <label for="email" class="lbl">Email*</label>
          <input type="email" name="email" id="email" value="<%= locals.email ? email : ""  %>" class="inp">
          <% if (locals.errors) { %>
          <% const emailError = errors.find(error => error.path == 'email'); %>
          <% if (emailError) { %>
          <p class="error"><%= emailError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- CONTRASEÑA USUARIO -->
        <div class="box pass">
          <label for="contrasena" class="lbl">Contraseña*</label>
          <input type="password" name="contrasena" id="contrasena" class="inp">
          <% if (locals.errors) { %>
          <% const contrasenaError = errors.find(error => error.path == 'contrasena'); %>
          <% if (contrasenaError) { %>
          <p class="error"><%= contrasenaError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- RECORDAR USUARIO -->
        <div class="box">
          <input type="checkbox" name="recordar" id="recordar" class="inp-check">
          <label for="recordar" class="lbl">Mantener sesión iniciada</label>
        </div>


        <!-- Boton carga -->
        <button type="submit" class="btn btn-primary">Ingresar</button>


        <!-- RECORDAR USUARIO -->
        <a class="color-primary link" href="/users/register">Registrate</a>

      </form>
    </div>
  </main>

  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>