<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/profile.css">

<title>Detalle</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

      <div class="contenedor-datos">

        <% if (locals.message) { %>
          <p style="color: green; text-align: center; width: 100%; text-align: center;"><%= message%></p>
        <% } %>

        <img class="imagen" src="/images/users/<%= usuario.imagen.nombre %>" alt="foto_perfil">
        <p class="dato">¡Estás de vuelta, <%= usuario.nombre + " " + usuario.apellido %>!</p>

        <a href="/users/edit" class="boton-editar">
          Editar mi perfil
        </a>

        <a href="/users/changePass" class="boton-editar">
          Cambiar contraseña
        </a>

        <form action="/users/softDelete/<%= usuario.id %>/?_method=DELETE" method="POST" class="form-eliminar">
          <button type="submit" class="boton-eliminar">Darme de baja</button>
        </form>

      </div>


  </main>
<!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>


</html>