<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/general.css">

<title>Detalle</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    <div class="card-profile">

      <img class="imagen" src="/images/users/<%= usuario.imagen.nombre %>" alt="foto_perfil">
      <p class="card-profile-info">¡Estás de vuelta, <%= usuario.nombre + " " + usuario.apellido %>!</p>

      <a href="/users/edit" class="btn btn-dark-primary" id="card-profile-btn">
        <i class="fa-solid fa-user-pen"></i>
        Editar mi perfil
      </a>

      <a href="/users/changePass" class="btn btn-primary" id="card-profile-btn">
        <i class="fa-solid fa-key"></i>
        Cambiar contraseña
      </a>

      <form action="/users/softDelete/<%= usuario.id %>/?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-delete">
          <i class="fa-solid fa-trash"></i>
          Darme de baja
        </button>
      </form>

    </div>


  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>


</html>