<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/profile.css">

<title>Perfil de usuario</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>


  <!-- PRINCIPAL -->
  <main>

    <img class="background-image" src="/images/users/<%=usuario.FotoPerfil[0] %>">
    <div class="contenedor-usuario">




      <div class="imagenes-usuario">
        <div class="cont-imagen-principal">
          <img class="img-principal" src="/images/users/<%= usuario.FotoPerfil %> ">
        </div>
      </div>




      <div class="contenedor-datos">

        <p class="nombre-usuario">
            <%= usuario.Nombre %>
        </p>

        <p class="otros-datos-usuario">
          <%= usuario.Telefono %>
        </p>

        <p class="otros-datos-usuario">
            <%= usuario.Email %>
        </p>

        <a href="/users/<%= usuario.Id %>/edit" class="boton-editar">
          Editar perfil
        </a>

        <form action="/users/<%= usuario.Id %>/?_method=DELETE" method="POST" class="form-eliminar">
          <button type="submit" class="boton-eliminar">Eliminar</button>
        </form>
      </div>

    </div>

  </main>


  <%- include ('../partials/footer')%>

</body>


</html>