<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/general.css">
<title>Registro</title>

</head>

<body>

  <script src="/js/user_register.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">¡Abrí tu cuenta!</h4>
      <form action="/users/register" method="POST" enctype="multipart/form-data" class="registerForm">

        <!-- NOMBRE USUARIO -->
        <div class="box nombre">
          <label class="lbl" for="nombre">Nombre*</label>
          <input class="inp" type="text" name="nombre" id="nombre" value=<%= locals.usuario ? usuario.nombre : "" %>>
          <% if (locals.errors) { %>
          <% const nombreError = errors.find(error => error.path == 'nombre'); %>
          <% if (nombreError) { %>
          <p class="error"><%= nombreError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- APELLIDO USUARIO -->
        <div class="box apellido">
          <label class="lbl" for="apellido">Apellido*</label>
          <input class="inp" type="text" name="apellido" id="apellido"
            value=<%= locals.usuario ? usuario.apellido : "" %>>
          <% if (locals.errors) { %>
          <% const apellidoError = errors.find(error => error.path == 'apellido'); %>
          <% if (apellidoError) { %>
          <p class="error"><%= apellidoError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- TELEFONO USUARIO -->
        <div class="box telefono">
          <label class="lbl" for="telefono">Telefono</label>
          <input class="inp" type="number" name="telefono" id="telefono"
            value=<%= locals.usuario ? usuario.telefono : "" %>>
        </div>

        <!-- EMAIL USUARIO -->
        <div class="box email">
          <label class="lbl" for="email">Email*</label>
          <input class="inp" type="email" name="email" id="email" value=<%= locals.usuario ? usuario.email : "" %>>
          <div class="errorMsg email"></div>
          <% if (locals.errors) { %>
          <% const emailError = errors.find(error => error.path == 'email'); %>
          <% if (emailError) { %>
          <p class="error"><%= emailError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- CONTRASEÑA USUARIO -->
        <div class="box contrasena">
          <label class="lbl" for="contrasena">Contraseña*</label>
          <input class="inp" type="password" name="contrasena" id="contrasena">
          <div class="errorMsg contrasena"></div>
          <% if (locals.errors) { %>
          <% const contrasenaError = errors.find(error => error.path == 'contrasena'); %>
          <% if (contrasenaError) { %>
          <p class="error"><%= contrasenaError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- CONTRASEÑA CONFIRMADA USUARIO -->
        <div class="box reContrasena">
          <label class="lbl" for="re-contrasena">Repetir contraseña*</label>
          <input class="inp" type="password" name="reContrasena" id="re-contrasena">
          <% if (locals.errors) { %>
          <% const reContrasenaError = errors.find(error => error.path == 'reContrasena'); %>
          <% if (reContrasenaError) { %>
          <p class="error"><%= reContrasenaError.msg %></p>
          <% } %>
          <% } %>
        </div>


        <!-- CARGAR IMAGEN PERFIL -->
        <div class="box image">
          <label class="lbl">Foto de perfil (Vista previa)</label>
          <img src="/images/users/default.png" alt="foto perfil usuario" class="file-image">
          <input type="file" id="img" name="imagen" accept=".jpeg, .png, .jpg">

          <div id="num-files" class="file-info">
            <label for="img" class="btn btn-upload">
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
              Subir una imagen
            </label>
            <p class="file-info-p">Ningun archivo seleccionado.</p>
          </div>
          <p class="file-info-p">Archivos permitidos: .jpeg, .png, .jpg, Tamaño máximo 10Mb.</p>
          <% if (locals.errors) { %>
          <% const reImageError = errors.find(error => error.path == 'image'); %>
          <% if (reImageError) { %>
          <p class="error"><%= reImageError.msg %></p>
          <% } %>
          <% } %>
        </div>



        <!-- Boton carga -->
        <button type="submit" class="btn btn-primary">¡Registrarte!</button>

        <!-- Boton de cancelar -->
        <a href="/" class="link color-primary">Cancelar</a>

      </form>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>