<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/userEdit.css">
<link rel="stylesheet" href="/css/general.css">
<title>Editar</title>

</head>

<body>
  <script src="/js/users/edit.js" type="text/javascript"></script>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario edicion -->
    <div class="contenedor-form">
      <h4 class="titulo">Edición del perfil</h4>

      <form action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="userEditForm">

        <!-- NOMBRE -->
        <div class="box nombre">
          <label for="nombre" class="lbl">Nombre</label>
          <input class="inp" type="text" name="nombre" id="nombre" value="<%= usuario.nombre %>">
          <% if (locals.errors) { %>
          <% const nombreError = errors.find(error => error.path == 'nombre'); %>
          <% if (nombreError) { %>
          <p class="error"><%= nombreError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- APELLIDO -->
        <div class="box apellido">
          <label for="apellido" class="lbl">Apellido</label>
          <input class="inp" type="text" name="apellido" id="apellido" value="<%= usuario.apellido %>">
          <% if (locals.errors) { %>
          <% const apellidoError = errors.find(error => error.path == 'apellido'); %>
          <% if (apellidoError) { %>
          <p class="error"><%= apellidoError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- TELEFONO -->
        <div class="box">
          <label class="lbl" for="telefono">Telefono</label>
          <input class="inp" type="text" name="telefono" id="telefono" value="<%= usuario.telefono %>">
        </div>

        <!-- EMAIL -->
        <div class="box email">
          <input style="display: none;" type="email" name="emailAnt" value="<%= usuario.emailAnt || usuario.email %>">
          <label class="lbl" for="email">Email</label>
          <input class="inp" type="email" name="email" id="email" value="<%= usuario.email %>">
          <% if (locals.errors) { %>
          <% const emailError = errors.find(error => error.path == 'email'); %>
          <% if (emailError) { %>
          <p class="error"><%= emailError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <!-- CARGAR IMAGEN PERFIL -->
        <div class="box image">
          <label class="lbl">Foto de perfil (Vista previa)</label>
          <img src="/images/users/<%= usuario.imagen.nombre %>" alt="foto perfil usuario" class="file-image">
          <input type="file" id="img" name="imagen" accept=".jpeg, .png, .jpg">

          <div id="num-files" class="file-info">
            <label for="img" class="btn btn-upload">
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
              Subir una imagen
            </label>
            <p class="file-info-p">Ningun archivo seleccionado.</p>
          </div>
          <p class="file-info-p">Archivos permitidos: .jpeg, .png, .jpg, Tamaño máximo 10Mb.</p>
          <% if (locals.errors) { %>
          <% const reImageError = errors.find(error => error.path == 'image'); %>
          <% if (reImageError) { %>
          <p class="error"><%= reImageError.msg %></p>
          <% } %>
          <% } %>
        </div>

        <button type="submit" class="btn btn-primary">¡Guardar cambios!</button>

        <a href="/users/profile" class="link color-primary">Cancelar</a>

      </form>

    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>