<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/userEditAdmin.css">

<title>Detalle</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

      <div class="contenedor-datos">
        <img class="imagen" src="/images/users/<%= usuario.FotoPerfil %>" alt="foto_perfil">
        <p class="dato">Nombre: <%= usuario.Nombre %></p>
        <p class="dato">Categoria: <%= usuario.Categoria %></p>

        <form action="/users/changeCategory/<%= usuario.Id %>?_method=PUT" method="POST" class="form-cambiar">
          <button type="submit" class="boton-cambiar">Cambiar a <%= usuario.Categoria == "Usuario" ? "Admin" : "Usuario" %></button>
        </form>

        <form action="/users/<%= usuario.Id %>?_method=DELETE" method="POST" class="form-eliminar">
          <button type="submit" class="boton-eliminar">Eliminar cuenta</button>
        </form>

      </div>


  </main>
<!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>


</html>