<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/userEditAdmin.css">

<title>Detalle</title>
</head>



<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    <div class="contenedor-datos">
      <img class="imagen" src="/images/users/<%= usuario.imagen.nombre || 'default.png' %>" alt="foto_perfil">
      <p class="dato">Nombre: <%= usuario.nombre %></p>
      <p class="dato">Categoria: <%= usuario.rol.nombre %></p>
      <p class="dato">Activo: <%= usuario.active ? "Si" : "No" %></p>

      <form action="/users/changeCategory/<%= usuario.id %>?_method=PATCH" method="POST" class="form-cambiar">
        <button type="submit" class="boton-cambiar">Cambiar a
          <%= usuario.rol.nombre == "Cliente" ? "Admin" : "Cliente" %></button>
      </form>

      <form action="/users/<%= usuario.id %>?_method=DELETE" method="POST" class="form-eliminar">
        <button type="submit" class="boton-eliminar">Eliminar usuario</button>
      </form>

      <a href="/users" class="boton-volver">
        Volver
      </a>

    </div>


  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>

</body>


</html>