<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/userEdit.css">
<title>Editar</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario edicion -->
    <div class="contenedor-form">
      <h4 class="titulo">Edición del perfil</h4>

      <form action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data">

        <!-- NOMBRE -->
        <div class="box <%= locals.errors && errors.nombre ? 'errorBox' : null %>">
          <input type="text" name="nombre" id="nombre" required value="<%= locals.old && old.nombre ? old.nombre : usuario.nombre %>">
          <label for="nombre">Nombre</label>
          <% if (locals.errors && errors.nombre) { %>
            <div class="msgError">
              <%= errors.nombre.msg %>
            </div>
          <% } %>
        </div>

        <!-- APELLIDO -->
        <div class="box <%= locals.errors && errors.apellido ? 'errorBox' : null %>">
          <input type="text" name="apellido" id="apellido" required value="<%= locals.old && old.apellido ? old.apellido : usuario.apellido %>">
          <label for="apellido">Apellido</label>
          <% if (locals.errors && errors.apellido) { %>
            <div class="msgError">
              <%= errors.apellido.msg %>
            </div>
          <% } %>
        </div>

        <!-- TELEFONO -->
        <div class="box <%= locals.errors && errors.telefono ? 'errorBox' : null %>">
          <input type="text" name="telefono" id="telefono" required value="<%= locals.old && old.telefono ? old.telefono : usuario.telefono %>">
          <label for="telefono">Telefono</label>
          <% if (locals.errors && errors.telefono) { %>
            <div class="msgError">
              <%= errors.telefono.msg %>
            </div>
          <% } %>
        </div>

        <!-- EMAIL -->
        <div class="box <%= locals.errors && errors.email ? 'errorBox' : null %>">
          <input type="email" name="email" id="email" required value="<%= locals.old && old.email ? old.email : usuario.email %>">
          <label for="email">Email</label>
          <% if (locals.errors && errors.email) { %>
            <div class="msgError">
              <%= errors.email.msg %>
            </div>
          <% } %>
        </div>

        <!-- IMAGEN ANTERIOR USUARIO -->
        <div class="box-img-ant">
          <label class="box-check-titulo">Imagen de perfil actual</label>
          <img src="/images/users/<%= usuario.imagen.nombre %>" alt="img-anterior">
        </div>


        <!-- CARGAR IMAGEN USUARIO -->
        <div class="box-img <%= locals.errors && errors.imagen ? 'errorBox' : null %>">
          <label for="img" class="label-img">Cargar nueva foto de perfil</label>
          <input class="input-image" type="file" id="img" name="imagen" accept=".jpg, .png, .jpeg">
          <% if (locals.errors && errors.imagen) { %>
            <div class="msgError">
              <%= errors.imagen.msg %>
            </div>
          <% } %>
        </div>


        <div class="botones">
          <!-- Boton carga -->
          <button type="submit" class="boton">Guardar</button>
        </div>

        <a href="/users/profile">Cancelar</a>

      </form>

    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>