<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/users.css">
<title>Usuarios</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    <!-- Lista de todos los usuarios -->


    <h3 class="titulo">Usuarios registrados</h3>
    <p class="informacion verde">---Activos---</p>
    <p class="informacion gris">---Inactivos---</p>

    <div class="contenedor-usuarios">
      <% for (usuario of usuarios) {%>
      <a class=<%= usuario.active ? "activo" : "inactivo" %> href="/users/userEdit/<%= usuario.id %>">
          <img src="/images/users/<%= usuario.imagen.nombre %>" alt="" class="foto-perfil">
          <p class="dato"><%= usuario.nombre + " " + usuario.apellido %></p>
          <p class="dato"><%= usuario.email %></p>
      </a>
      <%} %>
    </div>


  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>